body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

nav {
  background-color: rgb(14, 0, 145);
}

nav a {
  margin: 1rem 2rem;
  text-decoration: none;
  font-size: 1.3em;
  color: rgb(240, 240, 240);
  transition: 0.1s;
  background-color: rgb(14, 0, 145);
}
